PositionPaper/paper-main.blg
PositionPaper/relwork.log
PositionPaper/example.log
PositionPaper/paper-main.bbl
paper-main.dvi
paper-main.pdf
paper-main.thm
PositionPaper/paper-main.aux
PositionPaper/paper-main.log
