PositionPaper/paper-main.blg
PositionPaper/relwork.log
PositionPaper/example.log
PositionPaper/paper-main.bbl
paper-main.dvi
paper-main.pdf
paper-main.thm
PositionPaper/paper-main.aux
PositionPaper/paper-main.log
TwoPagesPaper/mainTwoPagesPaper.tex.bak
TwoPagesPaper/mainTwoPagesPaper.dvi
TwoPagesPaper/mainTwoPagesPaper.aux
TwoPagesPaper/mainTwoPagesPaper.bbl
TwoPagesPaper/mainTwoPagesPaper.blg
TwoPagesPaper/mainTwoPagesPaper.log
TwoPagesPaper/mainTwoPagesPaper.pdf
PositionPaper/paper-main.tex.bak
Workshop2015/incremental.tex.bak
Workshop2015/paper-main.aux
Workshop2015/paper-main.log
Workshop2015/paper-main.tex.bak
example.bib.bak
Workshop2015/paper-main.bbl
Workshop2015/paper-main.blg
introduction.tex.bak
relwork.tex.bak
